* {
  box-sizing: border-box;
  transition: all 0.5s;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
  font-family: "Montserrat";
  font-size: 62.5%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: bold;
}
h2 {
  font-size: 3.2rem;
  line-height: 4.1rem;
  font-weight: bold;
}

h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.3rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 2.3rem;
  font-weight: 600;
}
p,
span,
li,
label {
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 400;
}
input {
}
.logo {
  width: 13.4rem;
}
.section-1-logo {
  width: 6.6rem;
}
article {
  width: 100%;
  max-width: 26.2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
  min-height: 25rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px #00000029;
}

article i {
  font-size: 2.7rem;
  color: #0eafac;
}
article * {
  padding: 0;
  margin: 0;
}

details summary {
  list-style: none;
  font-size: 3rem;
}
details {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
details ul {
  display: flex;
  flex-direction: column;
  background-color: #10dfc2;
  border: 0.06rem solid #707070;
  border-radius: 0.5rem;
  position: absolute;
  list-style-type: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  line-height: 3rem;
  color: #f6f6f7;
}

.contato {
  width: fit-content;
  min-width: 120px;
  background-color: #10dfc2;
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 0;
  color: #fbfbfb;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  padding: 1rem 7rem;
}
header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f7;
  gap: 4rem;
  padding: 1.9rem 12rem;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #1c1c1d;
}
.section-1 {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 12vw;
  width: 100%;
  height: fit-content;
  background-image: url(../images/Background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fbfbfb;
  padding: 10rem 1rem;
}

.section-1-left {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  gap: 2.4rem;
}
.section-1-left h1 {
  margin: 0;
}
.section-1-left p {
  font-size: 1.8rem;
  line-height: 3.1rem;
}
.section-1-right {
  width: 100%;
  max-width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
}

.section-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10vw;
  padding: 1rem;
}
.section-2 div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-2 span {
  font-weight: 600;
  color: #0eafac;
}

.section-3 {
  height: fit-content;
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  flex-direction: column;
  padding: 5rem 1rem;
}

.section-3-text h2 {
  color: #0eafac;
  margin-bottom: 1.6rem;
}

.section-3-text {
  text-align: center;
}

.section-3-articles {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 2.9rem;
}

.section-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11.5rem;
  padding: 1rem;
}

.section-4 h2 {
  color: #0eafac;
  margin-bottom: 2.4rem;
}

.section-4 h3 {
  margin-bottom: 1.6rem;
}

.section-4-top,
.section-4-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12vw;
}
.section-4-top {
  flex-wrap: wrap;
}
.section-4-bottom {
  flex-wrap: wrap-reverse;
  gap: 17.3 vw;
}

.section-5 {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6vw;
  background-color: #19dbd1;
  color: #fbfbfb;
  padding: 5rem 1rem;
}
.section-5-top {
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.section-5 h2 {
  margin-bottom: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  width: 30rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
}
.botao-amarelo {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: fit-content;
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  background-color: #ffb900;
  border-radius: 1rem;
  border: none;
  color: #fbfbfb;
}

footer {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-wrap: wrap;
  background-color: #04254c;
  color: #fbfbfb;
  padding: 5rem 1rem 8.9rem 1rem;
  gap: 7rem;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer-2 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-2 ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

address {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

address div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

address img {
  height: fit-content;
  padding: 1.5rem 1.7rem;
  background-color: #fbfbfb;
  border-radius: 50%;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1440px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 1130px) {
  header {
    justify-content: space-around;
    padding: 1.9rem 0;
  }
  nav {
    display: none;
  }
  details {
    display: flex;
  }
}
@media (max-width: 800px) {
  * {
    text-align: center;
    align-items: center;
  }
  .section-3-articles {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}
@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
  .rocketLogo {
    width: 40%;
  }
  .rocketTalentsLogo {
    width: 100%;
  }
  .section-2 img,
  .section-4-top img,
  .section-4-bottom img {
    width: 70%;
  }
}
